@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant dark {
      --color-primary: rgb(255, 182, 139);
      --color-on-primary: rgb(82, 35, 0);
      --color-primary-container: rgb(117, 52, 0);
      --color-on-primary-container: rgb(255, 219, 200);
      --color-secondary: rgb(229, 191, 169);
      --color-on-secondary: rgb(67, 43, 28);
      --color-secondary-container: rgb(92, 65, 49);
      --color-on-secondary-container: rgb(255, 219, 200);
      --color-tertiary: rgb(204, 201, 146);
      --color-on-tertiary: rgb(51, 50, 9);
      --color-tertiary-container: rgb(74, 73, 30);
      --color-on-tertiary-container: rgb(232, 229, 172);
      --color-error: rgb(255, 180, 171);
      --color-on-error: rgb(105, 0, 5);
      --color-error-container: rgb(147, 0, 10);
      --color-on-error-container: rgb(255, 180, 171);
      --color-background: rgb(32, 26, 23);
      --color-on-background: rgb(236, 224, 219);
      --color-surface: rgb(32, 26, 23);
      --color-on-surface: rgb(236, 224, 219);
      --color-surface-variant: rgb(82, 68, 60);
      --color-on-surface-variant: rgb(215, 194, 184);
      --color-outline: rgb(159, 141, 132);
      --color-outline-variant: rgb(82, 68, 60);
      --color-shadow: rgb(0, 0, 0);
      --color-scrim: rgb(0, 0, 0);
      --color-inverse-surface: rgb(236, 224, 219);
      --color-inverse-on-surface: rgb(54, 47, 44);
      --color-inverse-primary: rgb(150, 73, 12);
      --color-elevation-level0: transparent;
      --color-elevation-level1: rgb(43, 34, 29);
      --color-elevation-level2: rgb(50, 39, 32);
      --color-elevation-level3: rgb(57, 43, 36);
      --color-elevation-level4: rgb(59, 45, 37);
      --color-elevation-level5: rgb(63, 48, 39);
      --color-surface-disabled: rgba(236, 224, 219, 0.12);
      --color-on-surface-disabled: rgba(236, 224, 219, 0.38);
      --color-backdrop: rgba(58, 46, 39, 0.4);
    }

    @variant light {
      --color-primary: rgb(150, 73, 12);
      --color-on-primary: rgb(255, 255, 255);
      --color-primary-container: rgb(255, 219, 200);
      --color-on-primary-container: rgb(50, 19, 0);
      --color-secondary: rgb(118, 88, 71);
      --color-on-secondary: rgb(255, 255, 255);
      --color-secondary-container: rgb(255, 219, 200);
      --color-on-secondary-container: rgb(43, 22, 9);
      --color-tertiary: rgb(98, 96, 51);
      --color-on-tertiary: rgb(255, 255, 255);
      --color-tertiary-container: rgb(232, 229, 172);
      --color-on-tertiary-container: rgb(29, 29, 0);
      --color-error: rgb(186, 26, 26);
      --color-on-error: rgb(255, 255, 255);
      --color-error-container: rgb(255, 218, 214);
      --color-on-error-container: rgb(65, 0, 2);
      --color-background: rgb(255, 251, 255);
      --color-on-background: rgb(32, 26, 23);
      --color-surface: rgb(255, 251, 255);
      --color-on-surface: rgb(32, 26, 23);
      --color-surface-variant: rgb(244, 222, 211);
      --color-on-surface-variant: rgb(82, 68, 60);
      --color-outline: rgb(133, 116, 107);
      --color-outline-variant: rgb(215, 194, 184);
      --color-shadow: rgb(0, 0, 0);
      --color-scrim: rgb(0, 0, 0);
      --color-inverse-surface: rgb(54, 47, 44);
      --color-inverse-on-surface: rgb(251, 238, 233);
      --color-inverse-primary: rgb(255, 182, 139);
      --color-elevation-level0: transparent;
      --color-elevation-level1: rgb(250, 242, 243);
      --color-elevation-level2: rgb(247, 237, 236);
      --color-elevation-level3: rgb(244, 231, 228);
      --color-elevation-level4: rgb(242, 230, 226);
      --color-elevation-level5: rgb(240, 226, 221);
      --color-surface-disabled: rgba(32, 26, 23, 0.12);
      --color-on-surface-disabled: rgba(32, 26, 23, 0.38);
      --color-backdrop: rgba(58, 46, 39, 0.4);
    }
  }
}
